# Timeline.js

This module draws a timeline diagram, using SVG to link entries.

## Use

To use the timeline:

* Include [`timeline.min.js`](dist/timeline.min.js) and [`timeline.min.css`](dist/timeline.min.js) in your document.
* Optionally include [`timeline-dark.min.js`](dist/timeline-dark.min.js) to enable the default [dark mode](#dark-mode).
* Add a `<div>` with `id="diagram"` to your HTML.
* Add your timeline entries as `<div>` elements within `div#diagram`, with the appropriate `data-` attributes (see [HTML](#html) below).
* Instantiate a new Timeline in JS, and call the `create()` method on it.

### Examples

Here is an example showing the development of Linux Desktop Environments since the mid-1990s.

Entries are created using HTML `data` attributes, which determine their position and connections when the timeline is instantiated.

```html

<div id="diagram">
	<div id="KDE" data-start="1996" data-become="Plasma" data-colour="#179af3">KDE</div>
	<div id="Plasma" data-start="2014" data-colour="#179af3">KDE Plasma</div>
	<div id="Trinity" data-start="2010" data-split="KDE" data-colour="#01306f">Trinity Desktop Environment</div>
	
	<div id="Budgie" data-start="2014" data-split="GNOME" data-row="2" data-colour="#6bca81">Budgie</div>
	<div id="GNOME" data-start="1997" data-row="3" data-colour="#000">GNOME</div>
	<div id="Cinnamon" data-start="2013" data-split="GNOME" data-colour="#dc682e">Cinnamon</div>
	<div id="MATE" data-start="2011" data-split="GNOME" data-colour="#9ddb60">MATE</div>
			
	<div id="XFCE" data-start="1997" data-colour="#00a8dd">XFCE</div>
	
	<div id="LXDE2" data-start="2013" data-split="LXDE" data-irregular="true" data-row="7" data-colour="#d1d1d1">LXDE</div>
	<div id="LXDE" data-start="2006" data-become="LXQT" data-row="8" data-colour="#d1d1d1">LXDE</div>
	<div id="LXQT" data-start="2013" data-row="8" data-colour="#0280b9">LXQT</div>
	<div id="Razor-qt" data-start="2010" data-merge="LXQT" data-row="9" data-end="2013" data-colour="#006c96">Razor-qt</div>
	
	<div id="Enlightenment" data-start="1997" data-colour="#fff078">Enlightenment</div>
	<div id="Moksha" data-start="2014" data-split="Enlightenment" data-colour="#5a860a">Moksha Desktop</div>
</div>
```

```javascript

const example = new Timeline("diagram", { 
	yearStart: 1995
});
example.create();
```

This is rendered as below:

![A timeline diagram showing the development of Linux Desktop Environments. Years are shown at intervals along the top and bottom, increasing from left to right. Entries (e.g. KDE, Gnome, XFCE) are depicted with a box, bordered with the entry's brand colour, from which a line extends to the right representing the length of its existence. Some entries split from or merge with others, represented by a connecting line.](./images/example.png)


Timeline.js was originally created for an illustration of left-wing political organisations in Ireland, as part of the Irish Left Archive. For a full-featured live example demonstrating the features documented below, visit the [Timeline of the Irish Left](https://www.leftarchive.ie/page/timeline-of-the-irish-left/).

## Javascript

The script is bundled as an ES6 module ([`dist/timeline.esm.js`](dist/timeline.esm.js)) or a UMD ([`dist/timeline.min.js`](dist/timeline.min.js)), depending on your preferred development stack or build tools.

The Timeline class and configuration [are documented below](#javascript-documentation).  Note that configuration is optional - any or none of the options can be passed in the config object. If specifying a config, you must also pass the container ID as the first parameter when creating the timeline.

## Adding Entries

Entries can be defined either in your HTML using `data` attributes, or passed as an array of Javascript objects when instantiating Timeline.js.

Both methods can be combined, but any entry defined in JS that duplicates an existing `id` will be dropped and a warning sent in the console.

**Each entry must have a unique ID, which must be a valid value for the HTML `id` attribute (See [id on MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id) for restrictions)**.

### HTML

To define entries in your HTML, create an element within the container and define its properties with the data attributes in the table below.

By default, entries should be `<div>` elements and the container has the id `#diagram`, but both of these are configurable (see [the Javscript configuration below](#timeline)).

|Attribute	|Required	|Value	|Use	|
|-----------|-----------|-------|-------|
|data-start|Yes|`<number>` A year|The year the entry starts at in the timeline. <br /> *Note: If this is earlier than the start of the timeline itself, an arrow is added to indicate it pre-exists the period shown.*|
|data-end|No|`<number>` A year|The year the entry ends. If omitted, this will be determined either by other connections, or if there are none, it will continue to the end of the timeline.|
|data-row|No|`<number>`| *Note: The first row is '0'*. <br />The row number this entry should appear in. This can be omitted, though automatic positioning is quite basic. It is recommended to use manual positioning or a combination of both for large or complex diagrams (see [Entry Positioning](#entry-positioning) below).|
|data-end-estimate|No|true or false|Whether the end is an estimate. Estimated end times are shown with a dashed end to the line, instead of a point.|
|data-become|No|Another entry ID|The entry 'becomes' another entry. I.e. another entry is the continuation of this entry, and it will be drawn on the same line.  For example, use this when an entry changes its name.|
|data-split|No|Another entry ID|If specified, the entry will be shown branching from the specified entry, at the year specified in 'data-start'.|
|data-merge|No|Another entry ID|If specified, the entry will be connected to the specified entry, at the year specified in 'data-end'.|
|data-links|No|A space-separated list of entry IDs|If specified, the entry is linked with a dashed line to each entry ID. Useful for looser associations between entries that should not be connected directly.|
|data-colour|No|A CSS colour hex|The colour of the border around the entry and connections from it. |
|data-irregular|No|true or false|Set to true for entries that are 'irregular' or should not be unbroken from their start to end dates. If set to true, the entry will be drawn with a broken line.|

### Javascript 

Entries can also be added using an array of objects when creating the Timeline, using an optional parameter.

Each entry must have at least `id`, `name` and `start` properties. The `name` is the displayed name of the entry (determined by the inner text of the element when defining entries in HTML).

All [attributes available as data attributes described above](#html) can be defined as object properties, with the omission of the data prefix and the object key named as it would be when converted from a data attribute to a property of the element's `dataset`. ([See the MDN entry for this conversion](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset#name_conversion)).

For example:

```javascript
const data = [
	{ id: "A", name: "First entry", start: 1950, end: 1960, merge: "B" },
	{ id: "B", name: "Second entry", start: 1955, end: 1981, endEstimate: true  },
	…
	{ id: "Z", name: "Final entry", start: 1940 }
];

const example = new Timeline(
	"diagram",
	{}, //Default configuration
	data
);

example.create();
```

## CSS Styling

The variables below are set in the included CSS. These are the default values, and can be over-ridden to customise the timeline's appearance.

```CSS
--tl-colour-background: #fff;
--tl-colour-border: #ccc;
--tl-colour-stroke: #999;
--tl-colour-entry: #f2f2f2;
--tl-colour-text: #333;
--tl-colour-highlight: #FFF14D;
--tl-colour-background-feature: #fafafa;
--tl-colour-border-feature: #7a7a7a;
--tl-width-year: 50px;
--tl-width-box: 100px;
--tl-width-box-min: 40px;
--tl-height-box: 40px;
--tl-height-row: 50px;
--tl-padding: 5px;
```

### Dark mode

If you want to include a dark mode, you can link the additional [`timeline-dark.min.css`](timeline-dark.min.css) file in your HTML. This over-rides the above for users who have set a dark mode preference, as below.

```CSS
--tl-colour-background: #222;
--tl-colour-border: #282828;
--tl-colour-stroke: #777777;
--tl-colour-entry: #555555;
--tl-colour-text: #eeeeee;
--tl-colour-highlight: #FFF14D;
--tl-colour-background-feature: #333333;
--tl-colour-border-feature: #7a7a7a;
```

Alternatively, add your own preferences within a `prefers-color-scheme: dark` media query.

## Panning and Zooming

For large diagrams, Timeline can make use of [@panzoom/panzoom](https://github.com/timmywil/panzoom) to add panning and zooming to the diagram within a fixed container. Include `@panzoom/panzoom` in your dependencies (it is not bundled), and pass the panzoom function in the config when instantiating the timeline (see [Javascript Options](#javascript) below).

## Controls and searching

If Panzoom is active, controls can be added to find an entry and pan to it, and also to control the zoom.

### Find an Entry

Include a form with the id "timeline-find" (by default - this is configurable) containing an input with the name "finder".
The input will then provide an autocomplete list of the entries in the diagram, which, when selected, will trigger the diagram to pan to that entry and highlight it.

### Zoom controls

Buttons can be added to control 'zoom in', 'zoom out' and 'reset zoom' with specified IDs.  If not specified in the configuration, the zoom actions are attached to these IDs, if present in the document: 'timeline-zoom-in', 'timeline-zoom-out', 'timeline-zoom-reset'.

### Finding on load with URL hash

If a URL hash is present on load and Panzoom is enabled, the timeline will pan to and highlight a given entry automatically if the hash is in the format `#find-{id}`.

### Example

An example putting these together as a controls div within the diagram.

The provided classes will position the controls in a box in the bottom right corner of the timeline container.

```html
<div class="controls">
	<form id="timeline-find">
			<input type="text" name="finder" 
				placeholder="Type to find an entry" aria-label="Find an entry" />
	</form>
	<div class="zoom-buttons" role="group" aria-label="Diagram Zoom Controls">
		<button id="timeline-zoom-out" type="button">Zoom Out</button>
		<button id="timeline-zoom-reset" type="button">Reset</button>
		<button id="timeline-zoom-in" type="button">Zoom In</button>
	</div>
</div>

```

## Entry Positioning

The X axis position of each entry must be manually set by specifing the 'data-start' attribute [^1].  The extent of the entry along the timeline is determined either by the 'data-end' attribute, or extends to the end of the timeline.

Specifying the row manually for each entry is not required. However, only some basic tests are performed to choose a suitable row for each entry when it is not specified, so aside from simple examples, it is recommended to manually set 'data-row' at least on a proportion of entries and those with complex links to ensure a sensible layout.

The row is determined in source-code order for each entry if it is omitted. A row is determined as follows:

* Available space, starting from the first row until a space is found.
* Connected entries (via 'data-becomes' attribute) must be on the same row.
* Split and merge entries should aim to be as close to their linked entries as possible, depending on nearest available row with space.

[^1]: If `data-start` is before the configured start of the timeline, it will be shown at the start with an arrow indicating it pre-exists the period shown.

## Javascript Documentation

{{#classes}}
{{>header~}}
{{>body}}
{{!--  The constructor doesn't get listed in public children, and access undefined doesn't seem to work, so add it manually--}}
{{>index-indent}}* {{>sig-link-parent}}
{{#indexChildren kind="constructor" ~}}
{{>member-index-list~}}
{{/indexChildren}}
{{#indexChildren inherited=undefined access="public" ~}}
{{>member-index-list~}}
{{/indexChildren}}

{{>separator~}}
{{#children kind="constructor" ~}}
{{>docs~}}
{{/children~}}
{{#children inherited=undefined access="public" ~}}
{{>docs~}}
{{/children~}}
{{/classes}}

{{#globals kind="event"}}
{{>docs~}}
{{/globals}}

* * *

## Licence

Copyright (C) 2021-23 Aonghus Storey

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

See the [`LICENCE`](LICENCE) file for details.
