@use 'sass:color';

$timeline-stroke-color: #999;

:root {
	--timeline-stroke-colour: #{$timeline-stroke-color};
	--timeline-entry-colour: #f2f2f2;
	--timeline-text-colour: #333;
	--timeline-year-width: 50px;
	--timeline-row-height: 50px;
	--timeline-box-width: 100px;
	--timeline-box-width-min: 40px;
	--timeline-box-height: 40px;
	--timeline-padding: 5px;
}

/* Stacking */
.guide {
	z-index: 1;
}

.dates {
	z-index: 2;
}

.split {
	z-index: 3;
}

.become, .merge, .end, .fork {
	z-index: 4;
}

.link {
	z-index: 5;
}

.entry {
	z-index: 6;
	&.min {
		z-index: 7;
	}
	&:hover, &:focus, &.hover {
		z-index: 8;
	}
}

.timeline-exclude {
	position: relative;
	z-index: 9;
}

.entry {
	box-sizing: border-box;
	position: absolute;
	width: var(--timeline-box-width);
	min-height: var(--timeline-box-height);
	height: var(--timeline-box-height);
	border: 3px solid var(--timeline-stroke-colour);
	border-radius: 3px;
	text-align: center;
	font-size: 12px;
	color: var(--timeline-text-colour);
	text-decoration: none;
	background: var(--timeline-entry-colour);
	overflow: hidden;
	padding: 2px;	
	-webkit-transition: box-shadow 0.5s ease;
	-moz-transition: box-shadow 0.5s ease;
	-o-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
	&.highlight {
		box-shadow: 0px 0px 5px 3px #FFF14D;
	}
	&:hover, &:focus, &.hover {
		height: auto;
	}
	&.min {
		color: var(--timeline-entry-colour);
		width: var(--timeline-box-width-min);
		border-radius: 50%;
		overflow: hidden;
		&:hover, &:focus, &.hover {
			width: var(--timeline-box-width);
			height: auto;
			border-radius: 3px;
			color: var(--timeline-text-colour);
		}		
	}
} 

.timeline-container {
	position: relative;
}

.pz-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}


.dates {
	position: relative;
	display: block;
	height: var(--timeline-row-height);
	background: var(--timeline-entry-colour);
	date {
		display: block;
		position: absolute;
		box-sizing: border-box;
		padding: var(--timeline-padding);
		height: var(--timeline-row-height);
		font-weight: 700;
		border-left: 1px solid var(--timeline-stroke-colour);
	}
}

.guide {
	position: absolute;
	top: 0;
	height: 100%;
	border-left: 1px dashed #ccc;
	background: #fff;
	&.odd {
		background: #fafafa;
	}
}

.controls {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 3px solid color.scale($timeline-stroke-color, $lightness: -20%);
	border-radius: 3px;
	background: #fafafa;
	padding: 5px;
	text-align: center;
}

.zoom-buttons {
	margin: 5px 0;
}

#timeline-find {
	position: relative;
}

.filtered-entries {
	position: relative;
	& > div {
		position: absolute;
		top: -2px;
	}
	div > ul {
		max-width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		background: #fff;
		position: absolute;
		top: auto;
		bottom: 0px;
	}
	li {
		cursor: pointer;
		padding: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:hover {
			background: #fafafa;
		}
	}
}
